
body {
    margin: 0;
    background-color: #d5e1ef;
    font-family: 'Gentium Book Plus', serif;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    text-align: center;
    width: 15rem;
    height: max-content;
    background-color: white;
    border-radius: 0.75rem;
}

.improve {
    font-weight: 700;
    margin: 0.313rem auto;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 0.938rem;
}

.scan {
    text-align: center;
    margin: 1rem 0.125rem;
    font-weight: 400;
    font-size: 0.938rem;
    width: 15rem;
    height: max-content;
    color: hsl(220, 15%, 55%);
}

.qr {
    margin: 0.625rem 0.625rem;
    border-radius: 0.5;
    width: 13.75rem;
    height: 13.75rem;
}

.attribution {
    text-decoration: none; 
    visibility: visible;
    font-size: 0.688rem; 
    text-align: center; 
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}
